<div class="head-wrapper">

  <div class="head-img-wrapper">
    <!-- <img class="img-responsive" src="./img/magda.jpg" alt="" /> -->
    <%= image_tag 'magda.jpg', class: 'img-responsive' %>
  </div>

  <div class="head-wrapper-content page-container page-container-full text-center">
    <div class="va-container va-container-v va-container-h">
      <div class="va-middle text_header">
        <h2 class="text-branding text-white space-1">
          Recrutez la bonne personne
        </h2>
        <div class="h4 text-white space-1 hide-sm">
          Barista, cuisinier, pâtissier, des CV à portée de main.
        </div>
      </div>
    </div>
  </div>

    <div class="head-wrapper-footer hide-sm">
      <div class="text-center col-sm-12 col-md-12 col-lg-12">
        <div class="tri-search-bar">
          <button class="btn btn-left btn-grey get-cvs" type="submit">Tous les CV</button>
          <button class="btn btn-middle get-baristas" type="submit">Barista</button>
          <button class="btn btn-middle get-cuisiniers" type="submit">Cuisinier</button>
          <button class="btn btn-middle get-patissiers" type="submit">Pâtissier</button>
          <button class="btn btn-right btn-grey get-offers" type="submit">Toutes les offres</button>
        </div>
      </div>
  </div>
</div>

  <div class="head-wrapper-footer show-phone">
    <div class="tri-search-container text-center col-sm-12 col-md-12 col-lg-12">
      <div class="tri-search-bar">
        <button class="btn btn-dbl get-cvs" type="submit">Voir les CV</button>
        <button class="btn btn-dbl get-offers" type="submit">Voir les offres</button>
      </div>
    </div>
  </div>
</div>

<%= render 'cvs/index' %>
