.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  &-fixed {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
  }
  &-logo {
    width: 50px;
  }
  &-container {
    display: flex;
    height: 70px;
    align-items: center;
  }
  &-pusher {
    flex: 1 1 auto;
  }
  &-item {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 0 10px;
  }
  &-search {
    flex: 0 1 300px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    position: relative;
    &-btn {
      line-height: 40px;
      color: #E6E6E6;
      border: none;
      background: transparent;
      position: absolute;
      right: 14px;
      top: -2px;
      z-index: 1;
    }
    &-input {
      flex: 0 1 300px;
      transition: all 0.15s ease;
      line-height: 40px;
      font-weight: lighter;
      color: #666666;
      border: 1px solid #E6E6E6;
      border-radius: 5px;
      padding: 0 10px;
      font-size: 14px;
      outline: none;
    }
    &-input:focus  {
      border: 1px solid #CCCCCC;
    }
  }
  &-link {
    color: #616668;
    font-size: 14px;
    &:hover {
      color: #da552f;
      text-decoration: none;
    }
  }
  &-button {
    margin-left: 10px;
    padding: 0 20px;
    border-radius: 20em;
    line-height: 40px;
    background-color: #D23333;
    color: white;
    font-size: 14px;
    border: 2px solid $brand-color;

    &:hover {
      color: white;
      background: $brand-color;
      border-color: darken($brand-color, 10%);
    }
  }
  &-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
    li > a {
      transition: color 0.3s ease;
      font-weight: lighter !important;
      color: #999999 !important;
      font-size: 15px !important;
      line-height: 22px !important;
      padding: 10px 20px;
      &:hover {
        background: transparent !important;
        color: black !important;
      }
    }
    &:before {
      content: ' ';
      height: 10px;
      width: 10px;
      position: absolute;
      right: 10px;
      top: -6px;
      background-color: white;
      transform: rotate(45deg);
      border-left: 1px solid #E6E6E6;
      border-top: 1px solid #E6E6E6;
    }
  }

  hr {
    height: 12px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
  }
}

#header {
    background: rgba(0,0,0,0);
    position: absolute;
    z-index: 33;
    display: block;
    width: 100%;
/*    background-color: #27898A;*/
    height: 70px;
}
header {
    height: 100%;
}
.head-wrapper-content .h4 {
    font-weight: normal;
}
.logo a {
  text-transform: uppercase;
  margin-left: 78px;
  margin-top: 22px;
  float: left;
  color: white;
  font-weight: bold;
  font-size: 15px;
  a:hover {
    text-decoration: none;
  }
}
.text-jumbo {
    font-size: 58px;
    font-weight: 700;
}
.list-your-space a {
    color: white;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    /*margin-top: 20px;*/
    padding: 12px 24px;
}
.post_cv_btn {
    margin: auto;
}
.establishment_grid_container {
    display: none;
}

/******* Apply Modal **********/

.modal {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
  color: #27898A;
  background-color: rgba(41, 41, 41, 0.74);
  .modal-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-dialog {
    width: 300px;
    margin: auto;
  }
  p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
/*.modal-content {
  background-color: rgba(16, 16, 16, 0.80);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //opacity: 0.6;
    //padding: 100px;
    display: flex;
}
*/
  &-inner {
    background-color: white;
        border-radius: 4px;
    max-width: 300px;
    margin: auto;
    flex: 1;
  }
  &-header {
    border-bottom: none;
  }
  &-subtitle {
    color: $red;
    line-height: 1.4em;
  }
  &-footer {
    border-top: none;
  }
  .field-container {
    margin: 0px 0px 20px 0px;
  }
  .name .field {
    width: 48%;
    float: left;
    font-size: 11px;
    font-weight: 100;
  }
  .field-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 7px;
  }
  .form-inline .form-control {
    font-weight: 400;
    display: block;
    width: 100%;
    font-size: 14px;
    height: 42px;
  }
  input:focus {
    outline: none !important;
    border: 1px solid #27898A;
    box-shadow: 0 0 10px #27898A;
  }
  &-header .close {
    outline: none;
  }
  label {
    font-weight: 100;
    width: 100%;
    margin-bottom: 0;
  }
  label p {
      margin: 10px 0 0 0;
      font-size: 1em;
    }
  .btn-submit {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    border: 1px solid;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    background-color: #27898A;
  }
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

.nav {
  .white-btn:focus, .nav .white-btn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
  .white-btn {
    position: relative;
    display: block;
    padding: 5px 20px;
    margin-right: 10px;
    margin-top: 12px;
    background: none;
    /*text-transform: uppercase;*/
    font-size: 16px;
    border: solid 2px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.44);
  }
  .naked-btn {
    color: white;
    position: relative;
    display: block;
    padding: 5px 20px;
    margin-right: 0px;
    margin-top: 12px;
    background: none;
    /*text-transform: uppercase;*/
    font-size: 16px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.44);
    border: solid 2px transparent;
    background-color: none;
  }
  .naked-btn:hover {
    background: none;
    background-color: none;
    color: white;
  }
}
